/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

/* Override default styles set by the browser*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rosarivo", cursive;
    background-color: aliceblue;
}

/* Header */
.hero-image {
    background-image: url("../images/pexels-dennisleinarts-1437953.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    width: 100%;
}

.hero-text {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 3px;
}

/* Navigation bar */
.navbar {
    width: 100%;
    background-color: rgba(149, 165, 166);
    padding: 10px;
    overflow: auto;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    float: left;
    text-transform: uppercase;
}

.fa-solid {
    padding: 8px;
    color: rgb(34, 139, 34);
}

.navbar a:hover {
    color: #ffffff;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

hr {
    border: 1px solid green;
}

.main {
    padding: 20px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgreen;
}

/* Home page */
.h3-text {
    text-align: center;
}

/* Meditation page */
#meditating {
    float: right;
    width: 150px;
    border: 1px solid gray;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

/* Activity page */
#exercise {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#pilates {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#yoga-text {
    text-align: right;
}

#yoga {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#desert {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#weight-text {
    text-align: right;
}

#weight {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#walk {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

/* Diet page */
#food {
    float: right;
    width: 150px;
    border: 1px solid gray;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#kiwi {
    float: left;
    width: 150px;
    border: 1px solid gray;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#celery-text {
    text-align: right;
}

#juice {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#lemons {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

/* Cold page */
ul {
    list-style-type: none;
}

#sea {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#woman {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

/* Breathing page */
#stones {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#wind {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#box {
    text-align: right;
}

#sky {
    float: right;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

#clouds {
    float: left;
    width: 150px;
    border: 1px solid grey;
    margin: 3px 3px 3px 0;
    border-radius: 5px;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: rgba(149, 165, 166);
}

#social-networks {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#social-networks i {
    color: rgb(34, 139, 34);
    font-size: 20px;
    padding: 10px;
}

/* Media query for medium devices (768px and up)*/
@media screen (min-width: 768px) {
    .image-position {
        height: 250px;
    }

    .center {
        text-align: right;
    }
}
