/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

/* Override default styles set by the browser*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rosarivo", cursive;
}
/* Header */
.hero-image {
    background-image: url("../images/pexels-dennisleinarts-1437953.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    width: 100%;
}
.hero-text {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 3px;
}